@{
  Layout = "_Layout";
}

@model Recipe.Models.Formula

<h1>Are you sure you want to delete this?</h1>

@Html.Label("Recipe:  ") @Html.DisplayFor(model => model.FormulaName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="delete"/>
}
<br>
@Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "accept" })