@{
  Layout = "_Layout";
}

@using Recipe.Models;
@model IEnumerable<Recipe.Models.Formula>

<h1  class="img">Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Formula formula in Model)
    {
      <li>@Html.ActionLink($"{formula.FormulaName}", "Details", new { id = formula.FormulaId }, new { @class = "name" })</li>
    }
  </ul>
} 
else
{
  <h3>No recipes have been added yet!</h3>
}

<p>@Html.ActionLink("Add new recipe", "Create", new { area = "" }, new { @class = "accept" })</p>

<p>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "accept" })</p>