@{
  Layout = "_Layout";
}

<h1 class="img">Welcome to the Digital Recipe Box!</h1>
<p>@Html.ActionLink("See all recipes", "Index", "Formulas", new { area = "" }, new { @class = "accept" })</p> 
<p>@Html.ActionLink("See all tags", "Index", "Tags", new { area = "" }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Create an account", "Index", "Account", new { area = "" }, new { @class = "accept" })</p>
